{% extends "admin/base_site.html" %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='coursereg' %}">Coursereg</a>
    &rsaquo; <a href="{% url 'admin:coursereg_course_changelist' %}">Courses</a>
    &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="fileUpload">Upload CSV file with courses:</label>
    <input type="file" name="courses_csv" id="fileUpload">
    <p>
        {% load staticfiles %}
        Note that the CSV file must have columns
        <strong>
            (Number, Title, Credits, Term, Year, Department, Class Time, Description, should_count_towards_cgpa, Instructor 1 email (optional), Instructor 2 email (optional), etc.)
        </strong>
        like in this <a href="{% static 'coursereg/misc/add_courses_sample.csv' %}">sample CSV</a> file. Enclose fields with commas in double quotes (ex: "Wednesday, Thursday 2-3PM").
    </p>
    <div>
        <input type="submit" value="Upload" name="submit">
    </div>
</form>
{% endblock %}
