{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}
<div class="container" id="maincontainer">
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'coursereg:adviser' %}">Advisees</a></li>
                <li class="breadcrumb-item active">{{ student.full_name }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ student.full_name }}</h1>
            </div>
            <p>Degree: {{ student.degree }}</p>
            <p>Adviser: {{ student.adviser.full_name }}</p>
            <p>Department: {{ student.department }}</p>
            <p>CGPA: {{ student.cgpa }}</p>
            <p>Sr No: {{ student.sr_no }}</p>
            <p>E-mail: {{ student.email }}</p>
            <p>Phone: {{ student.telephone }}</p>
            <p>Join date: {{ student.date_joined|date:'N j, Y' }}</p>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if notifications %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <ul>
                {% for date, origin, message in notifications %}
                <li>
                    <strong>
                        {{ date }}: {{ origin }} -
                    </strong>
                    {{ message }}
                </li>
                {% endfor %}
                </ul>
                <div id="dismiss">
                    <form action="{% url 'coursereg:notifications_dismiss' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ student.id }}">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button type="submit" class="btn btn-danger btn-xs">Dismiss</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if participants %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Courses</h3>
            </div>
            <ul class="list-group">
                {% for participant in participants %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-11 col-xs-10">
                                    <div class="row">
                                        <div class="col-md-7 col-xs-12">
                                            {% if participant.should_count_towards_cgpa %}
                                            <p>
                                            {% else %}
                                            <p class="text-muted">
                                            {% endif %}
                                                {{ participant.course }}
                                                <span class="badge">{{ participant.get_reg_type_desc }}</span>
                                                {% if not participant.is_adviser_reviewed %}
                                                <span class="label label-success">new</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-md-5 col-xs-12">
                                            <p class="text-muted">
                                                {{ participant.get_status_desc }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <div title="Options" class="pull-right">
                                        {% if not participant.course.is_last_drop_date_passed %}
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Actions
                                                <span class="caret"></span>
                                            </button>
                                            <button class="btn btn-default dropdown-toggle btn-circle visible-xs-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <span class="glyphicon glyphicon-option-vertical"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                {% if is_manual_faculty_review_enabled and not participant.is_adviser_reviewed %}
                                                    <form id="reviewForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}"method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' participant.user.id %}">
                                                        <input type="hidden" name="origin" value="adviser">
                                                        <input type="hidden" name="action" value="review">
                                                    </form>
                                                    <li><a href="#" onclick="$('#reviewForm{{ participant.id }}').submit(); return false;">Mark as read</a></li>
                                                    <li role="separator" class="divider"></li>
                                                {% endif %}
                                                {% if not participant.course.is_last_conversion_date_passed %}
                                                    <form id="switchForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}"method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' participant.user.id %}">
                                                        <input type="hidden" name="origin" value="adviser">
                                                        <input type="hidden" name="action" value="reg_type_change">
                                                        <input type="hidden" name="reg_type" value="">
                                                    </form>
                                                    {% for reg_type in reg_types %}
                                                    {% if reg_type != participant.registration_type %}
                                                        <li><a href="#" onclick="$('#switchForm{{ participant.id }} input[name=reg_type]').val('{{ reg_type.id }}'); $('#switchForm{{ participant.id }}').submit(); return false;">Switch to {{ reg_type }}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    <li role="separator" class="divider"></li>
                                                {% endif %}
                                                {% if not participant.lock_from_student %}
                                                    <form id="studentEditForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' participant.user.id %}">
                                                        <input type="hidden" name="origin" value="adviser">
                                                        <input type="hidden" name="action" value="disable_student_edits">
                                                    </form>
                                                    <li><a href="#" onclick="$('#studentEditForm{{ participant.id }}').submit(); return false;">Disable student edits</a></li>
                                                {% else %}
                                                    <form id="studentEditForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' participant.user.id %}">
                                                        <input type="hidden" name="origin" value="adviser">
                                                        <input type="hidden" name="action" value="enable_student_edits">
                                                    </form>
                                                    <li><a href="#" onclick="$('#studentEditForm{{ participant.id }}').submit(); return false;">Enable student edits</a></li>
                                                {% endif %}
                                                {% if not participant.course.is_last_cancellation_date_passed %}
                                                    <li role="separator" class="divider"></li>
                                                    <form id="deleteForm{{ participant.id }}" action="{% url 'coursereg:participants_delete' participant.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="origin" value="adviser">
                                                        <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' participant.user.id %}">
                                                    </form>
                                                    <li><a href="#" onclick="$('#deleteForm{{ participant.id }}').submit(); return false;">Cancel registration</a></li>
                                                {% elif not participant.course.is_last_drop_date_passed %}
                                                    <li role="separator" class="divider"></li>
                                                    <form id="dropForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' participant.user.id %}">
                                                        <input type="hidden" name="origin" value="adviser">
                                                        {% if participant.is_drop %}
                                                        <input type="hidden" name="action" value="undrop">
                                                        {% else %}
                                                        <input type="hidden" name="action" value="drop">
                                                        {% endif %}
                                                    </form>
                                                    <li>
                                                        <a href="#" onclick="$('#dropForm{{ participant.id }}').submit(); return false;">
                                                        {% if participant.is_drop %}
                                                        Undo drop
                                                        {% else %}
                                                        Drop course
                                                        {% endif %}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if is_manual_faculty_review_enabled and is_adviser_review_needed %}
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'coursereg:participants_update_all' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="origin" value="adviser">
                <input type="hidden" name="action" value="review">
                <input type="hidden" name="student_id" value="{{ student.id }}">
                <input type="hidden" name="next" value="{% url 'coursereg:adviser_detail' student.id %}">
                <button type="submit" class="btn btn-primary">Mark all as read</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if can_adviser_add_courses_for_students %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <form class="form-inline" method="post" action="{% url 'coursereg:participants_create' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="course_select_box">Register for a course</label>
                    <select class="form-control" id="course_select_box" name="course_id">
                        <option value="">No courses available</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    {% for reg_type in reg_types %}
                    <label class="radio-inline">
                        {% if forloop.counter0 == 0 %}
                        <input type="radio" name="reg_type" value="{{ reg_type.id }}" checked>{{ reg_type }}
                        {% else %}
                        <input type="radio" name="reg_type" value="{{ reg_type.id }}">{{ reg_type }}
                        {% endif %}
                    </label>
                    {% endfor %}
                </div>
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="user_id" value="{{ student.id }}">
                <input type="hidden" name="origin" value="adviser">
                <button type="submit" class="btn btn-primary btn-sm">Join Course</button>
            </form>
        </div>
    </div>
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <div id="course-info-placeholder">
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block head %}
{% load staticfiles %}
<link href="{% static 'coursereg/css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'coursereg/css/select2-bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% load staticfiles %}
<script src="{% static 'coursereg/js/select2.min.js' %}"></script>
<script type="text/javascript">
    var all_courses = {
        {% for course in courses %}
        "{{ course.id }}": {
            {% if course.timings %}
            "timings": "{{ course.timings }}",
            {% else %}
            "timings": "",
            {% endif %}
            {% if course.description %}
            "description": "{{ course.description }}",
            {% else %}
            "description": "",
            {% endif %}
        },
        {% endfor %}
    };
    $(document).ready(function() {
        $("#course_select_box").select2({
            placeholder: "Select a course",
            theme: "bootstrap"
        });

        var selected_course = $("#course_select_box").val();
        if(selected_course in all_courses) {
            show_course_info(selected_course);
        }

        $("#course_select_box").on("select2:select", function(env) {
              selected_course = $("#course_select_box").val();
              if(selected_course in all_courses) {
                  show_course_info(selected_course);
              }
        });
    });
    function show_course_info(selected_course){
        $('#course-info-placeholder').html(
            '<div class="alert alert-info alert-dismissible">' +
                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                '<span>' +
                    '<p><b>Timings</b>: ' + all_courses[selected_course].timings + '</p>' +
                    '<p>' + all_courses[selected_course].description + '</p>' +
                '</span>' +
            '</div>'
        );
    };
</script>
{% endblock %}
