{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}

<div class="container" id="maincontainer">
{% for degree in degrees %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <table class="table table-striped">
                <caption>{{ degree }} students</caption>
                <tbody>
                {% for student in all_active_students %}
                    {% if student.degree == degree %}
                        <tr><td>
                            <a href="{% url 'coursereg:dcc_detail' student.id %}">{{ student.full_name }}</a>
                            ({{ student.email }})
                            {% if student.is_dcc_review_pending %}
                                <span class="badge">new</span>
                            {% endif %}
                        </tr></td>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
