{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}
<div class="container" id="maincontainer">
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'coursereg:dcc_review' %}">Review</a></li>
                <li class="breadcrumb-item active">{{ student.full_name }}</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ student.full_name }}</h1>
            </div>
            <p>Degree: {{ student.degree }}</p>
            <p>Adviser: {{ student.adviser.full_name }}</p>
            <p>Department: {{ student.department }}</p>
            <p>CGPA: {{ student.cgpa }}</p>
            <p>Sr No: {{ student.sr_no }}</p>
            <p>E-mail: {{ student.email }}</p>
            <p>Phone: {{ student.telephone }}</p>
            <p>Join date: {{ student.date_joined|date:'N j, Y' }}</p>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if notifications %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <ul>
                {% for date, origin, message in notifications %}
                <li>
                    <strong>
                        {{ date }}: {{ origin }} -
                    </strong>
                    {{ message }}
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registered Courses</h3>
            </div>
            <ul class="list-group">
                {% for participant in participants %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-7">
                            {% if not participant.should_count_towards_cgpa %}
                            <p class="text-muted">
                            {% else %}
                            <p>
                            {% endif %}
                                {{ participant.course }} <span class="badge">{{ participant.get_reg_type_desc }}</span>
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p class="text-muted">
                                {{ participant.get_status_desc }}
                                {% if participant.course.is_last_adviser_approval_date_passed and not participant.is_adviser_reviewed %}
                                (Adviser is yet to review)
                                {% endif %}
                                {% if participant.course.is_last_instructor_approval_date_passed and participant.course.is_instructor_assigned and not participant.is_instructor_reviewed %}
                                (Instructor is yet to review)
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <div class="page-header">
                <h2><small>Review</small></h2>
            </div>
        </div>
    </div>
    {% if student.is_dcc_review_pending %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <form action="{% url 'coursereg:dcc_approve' student.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Approve</button>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="row top-buffer-1">
        <div class="col-md-4">
            <form action="{% url 'coursereg:notify' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ student.id }}">
                <input type="hidden" name="next" value="{% url 'coursereg:dcc_detail' student.id %}">
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="message" placeholder="Notification message" required></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Notify</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
