{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}

<div class="container" id="maincontainer">
    {% if messages %}
    {% for message in messages %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <h2><small>Students</small></h2>
        </div>
    </div>
    {% for title, students in active_students.items %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <table class="table table-striped">
                <caption>{{ title }}</caption>
                <tbody>
                {% for student in students %}
                    <tr><td>
                        <a href="{% url 'coursereg:dcc_detail' student.id %}">{{ student.full_name }}</a>
                        ({{ student.email }})
                        {% if student.is_dcc_sent_notification %}
                        <span class="label label-danger">notified</span>
                        {% elif student.is_dcc_review_pending %}
                        <span class="label label-success">new</span>
                        {% endif %}
                    </tr></td>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    {% if pending_advisers %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <h2><small>Advisers with pending review</small></h2>
        </div>
        <div class="col-md-12">
            <p>
                {% for user in pending_advisers %}
                {{ user.email }}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}
    {% if pending_instructors %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <h2><small>Instructors with pending review</small></h2>
        </div>
        <div class="col-md-12">
            <p>
                {% for user in pending_instructors %}
                {{ user.email }}
                {% if not forloop.last %}
                ,
                {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}
    {% if pending_faculty %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <a href="mailto:{% for user in pending_faculty %}{{ user.email }},{% endfor %}?Subject=Course%20application%20review">Send a reminder email</a> to all faculty with pending review.
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
