{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}
<div class="container" id="maincontainer">
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ course }}</h1>
            </div>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if registration_requests %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registration requests</h3>
            </div>
            <ul class="list-group">
                {% for is_credit, pid, user in registration_requests %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    {{ user.full_name }}
                                    {% if is_credit %}
                                    <span class="badge alert-info">Credit</span>
                                    {% else %}
                                    <span class="badge">Audit</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.degree }}
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    {{ user.sr_no }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <form action="{% url 'coursereg:participants_update' pid %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="hidden" name="origin" value="instructor">
                                        <button type="submit" class="btn btn-xs btn-success" name="action" value="approve">Approve</button>
                                        <button type="submit" class="btn btn-xs btn-danger" name="action" value="reject" style="margin-left: 15px;">Reject</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'coursereg:participants_approve_all' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <input type="hidden" name="origin" value="instructor">
                <button type="submit" class="btn btn-success">Approve all</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if crediting %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Credit</h3>
            </div>
            <ul class="list-group">
                {% for participant in crediting %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-11">
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    {{ participant.user.full_name }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ participant.user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ participant.user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ participant.user.degree }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ participant.user.sr_no }}
                                </div>
                                <div class="col-md-1">
                                    <form class="form-inline" action="{% url 'coursereg:participants_update' participant.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="hidden" name="origin" value="instructor">
                                        <input type="hidden" name="action" value="grade">
                                        <div class="form-group">
                                            {% if participant.course.is_last_grade_date_passed %}
                                            <select class="form-control input-sm" name="grade" onchange="this.form.submit()" disabled>
                                            {% else %}
                                            <select class="form-control input-sm" name="grade" onchange="this.form.submit()">
                                            {% endif %}
                                                {% for grade in grades %}
                                                {% if participant.grade == grade %}
                                                <option value="{{ grade.id }}" selected>{{ grade }}</option>
                                                {% else %}
                                                <option value="{{ grade.id }}">{{ grade }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if auditing %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Audit</h3>
            </div>
            <ul class="list-group">
                {% for participant in auditing %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-11">
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    {{ participant.user.full_name }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ participant.user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ participant.user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ participant.user.degree }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ participant.user.sr_no }}
                                </div>
                                <div class="col-md-1">
                                    <form class="form-inline" action="{% url 'coursereg:participants_update' participant.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="hidden" name="origin" value="instructor">
                                        <input type="hidden" name="action" value="grade">
                                        <div class="form-group">
                                            {% if participant.course.is_last_grade_date_passed %}
                                            <select class="form-control input-sm" name="grade" onchange="this.form.submit()" disabled>
                                            {% else %}
                                            <select class="form-control input-sm" name="grade" onchange="this.form.submit()">
                                            {% endif %}
                                                {% for grade in grades %}
                                                {% if participant.grade == grade %}
                                                <option value="{{ grade.id }}" selected>{{ grade }}</option>
                                                {% else %}
                                                <option value="{{ grade.id }}">{{ grade }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if dropped %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dropped</h3>
            </div>
            <ul class="list-group">
                {% for participant in dropped %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-11">
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    {{ participant.user.full_name }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ participant.user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ participant.user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ participant.user.degree }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ participant.user.sr_no }}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row top-buffer-1">
        <button id="pdfexport" type="button" class="btn btn-primary" data-loading-text="Loading..." >Export as PDF</button>
        <button id="csvexport" type="button" class="btn btn-primary">Export as CSV</button>
    </div>
</div>
{% endblock %}

{% block script %}
{% load staticfiles %}
<script src="{% static 'coursereg/js/Blob.js' %}"></script>
<script src="{% static 'coursereg/js/FileSaver.min.js' %}"></script>
<script type="text/javascript">
    var courseName = '{{ course }}';
    var exportData = {
        'fileNameWithoutExt': courseName.replace(/\s/g, '_').replace(/[^A-Za-z0-9_]/g, '') + '_Students',
        'columnNames': ['Name', 'Email', 'Program', 'Department', 'SrNo', 'Enrollment', 'Grade'],
        'rows': [
            {% for participant in participants_for_export %}
            [
                "{{ forloop.counter }}",
                "{{ participant.user.full_name }}",
                "{{ participant.user.email }}",
                "{{ participant.user.degree }}",
                "{{ participant.user.department.abbreviation }}",
                "{{ participant.user.sr_no }}",
                {% if participant.is_drop %}
                "Drop",
                {% elif participant.is_credit %}
                "Credit",
                {% else %}
                "Audit",
                {% endif %}
                "{{ participant.grade }}",
            ],
            {% endfor %}
        ]
    };
    $('#pdfexport').on('click', function() {
        var $btn = $(this).button('loading');
        $.getScript("{% static 'coursereg/js/pdfmake.min.js' %}", function() {
            $.getScript("{% static 'coursereg/js/vfs_fonts.js' %}", function() {
                var columnNames = ['#', 'Name', 'Email', 'Program', 'Dept', 'SR No.', 'Status', 'Grade'];
                var headerRow = columnNames.map(function(title) {
                    return {
                        'text': title,
                        'style': 'tableHeader'
                    };
                });
                var docDefinition = {
                    styles: {
                        'tableHeader': {
                            fontSize: 8,
                            bold: true
                        },
                        'tableRow': {
                            fontSize: 8
                        },
                        'title': {
                            fontSize: 14,
                            margin: [0, 0, 0, 12]
                        }
                    },
                    content: [
                        {
                            'text': courseName,
                            'style': 'title'
                        },
                        {
                            table: {
                                headerRows: 1,
                                widths: [ 'auto', '*', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto' ],
                                body: [headerRow].concat(exportData['rows'].map(function(row) {
                                    return row.map(function(element) {
                                        return {
                                            'text': element,
                                            'style': 'tableRow'
                                        }
                                    })
                                })),
                            },
                            layout: 'lightHorizontalLines'
                        }
                    ],
                    pageSize: 'a4'
                };
                var pdfDoc = pdfMake.createPdf(docDefinition);
                pdfDoc.getBuffer( function (buffer) {
                    var blob = new Blob([buffer], {type: "application/pdf"});
                    saveAs(blob, exportData['fileNameWithoutExt']+'.pdf');
                    $btn.button('reset');
                });
            });
        });
    });
    $('#csvexport').on('click', function() {
        var csv = exportData['rows'].map(function(arr) {return arr.join(',');}).join('\n');
        var blob = new Blob([csv], {type: "text/plain;charset=utf-8"});
        saveAs(blob, exportData['fileNameWithoutExt']+'.csv');
    });
</script>
{% endblock %}
