{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}
<div class="container" id="maincontainer">
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ course }}</h1>
            </div>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if registration_requests %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registration requests</h3>
            </div>
            <ul class="list-group">
                {% for is_credit, pid, user in registration_requests %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-xs-12">
                                    {{ user.full_name }}
                                    {% if is_credit %}
                                    <span class="badge alert-info">Credit</span>
                                    {% else %}
                                    <span class="badge">Audit</span>
                                    {% endif %}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.degree }}
                                </div>
                                <div class="col-md-3 col-xs-12">
                                    {{ user.sr_no }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    <form action="{% url 'coursereg:participants_update' pid %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="hidden" name="origin" value="instructor">
                                        <button type="submit" class="btn btn-xs btn-success" name="action" value="approve">Approve</button>
                                        <button type="submit" class="btn btn-xs btn-danger" name="action" value="reject" style="margin-left: 20px;">Reject</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form action="{% url 'coursereg:participants_approve_all' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="course_id" value="{{ course.id }}">
                <input type="hidden" name="origin" value="instructor">
                <button type="submit" class="btn btn-success">Approve all</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if crediting %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Credit</h3>
            </div>
            <ul class="list-group">
                {% for user, pid, grade in crediting %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-11">
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    {{ user.full_name }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.degree }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ user.sr_no }}
                                </div>
                                <div class="col-md-1">
                                    <form class="form-inline" action="{% url 'coursereg:participants_update' pid %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="hidden" name="origin" value="instructor">
                                        <input type="hidden" name="action" value="grade">
                                        <div class="form-group">
                                            <select class="form-control input-sm" name="grade" onchange="this.form.submit()">
                                                {% if grade == 0 %}
                                                <option value="0" selected>Grade N/A</option>
                                                {% else %}
                                                <option value="0">Grade N/A</option>
                                                {% endif %}

                                                {% if grade == 1 %}
                                                <option value="1" selected>S grade</option>
                                                {% else %}
                                                <option value="1">S grade</option>
                                                {% endif %}

                                                {% if grade == 2 %}
                                                <option value="2" selected>A grade</option>
                                                {% else %}
                                                <option value="2">A grade</option>
                                                {% endif %}

                                                {% if grade == 3 %}
                                                <option value="3" selected>B grade</option>
                                                {% else %}
                                                <option value="3">B grade</option>
                                                {% endif %}

                                                {% if grade == 4 %}
                                                <option value="4" selected>C grade</option>
                                                {% else %}
                                                <option value="4">C grade</option>
                                                {% endif %}

                                                {% if grade == 5 %}
                                                <option value="5" selected>D grade</option>
                                                {% else %}
                                                <option value="5">D grade</option>
                                                {% endif %}

                                                {% if grade == 6 %}
                                                <option value="6" selected>F grade</option>
                                                {% else %}
                                                <option value="6">F grade</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if auditing %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Audit</h3>
            </div>
            <ul class="list-group">
                {% for user, pid, grade in auditing %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-11">
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    {{ user.full_name }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.degree }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ user.sr_no }}
                                </div>
                                <div class="col-md-1">
                                    <form class="form-inline" action="{% url 'coursereg:participants_update' pid %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <input type="hidden" name="origin" value="instructor">
                                        <input type="hidden" name="action" value="grade">
                                        <div class="form-group">
                                            <select class="form-control input-sm" name="grade" onchange="this.form.submit()">
                                                {% if grade == 0 %}
                                                <option value="0" selected>Grade N/A</option>
                                                {% else %}
                                                <option value="0">Grade N/A</option>
                                                {% endif %}

                                                {% if grade == 1 %}
                                                <option value="1" selected>S grade</option>
                                                {% else %}
                                                <option value="1">S grade</option>
                                                {% endif %}

                                                {% if grade == 2 %}
                                                <option value="2" selected>A grade</option>
                                                {% else %}
                                                <option value="2">A grade</option>
                                                {% endif %}

                                                {% if grade == 3 %}
                                                <option value="3" selected>B grade</option>
                                                {% else %}
                                                <option value="3">B grade</option>
                                                {% endif %}

                                                {% if grade == 4 %}
                                                <option value="4" selected>C grade</option>
                                                {% else %}
                                                <option value="4">C grade</option>
                                                {% endif %}

                                                {% if grade == 5 %}
                                                <option value="5" selected>D grade</option>
                                                {% else %}
                                                <option value="5">D grade</option>
                                                {% endif %}

                                                {% if grade == 6 %}
                                                <option value="6" selected>F grade</option>
                                                {% else %}
                                                <option value="6">F grade</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if dropped %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Dropped</h3>
            </div>
            <ul class="list-group">
                {% for user in dropped %}
                <li class="list-group-item">
                    <div class="pull-left">{{ forloop.counter }}</div>
                    <div class="row requestrow">
                        <div class="col-md-12 col-xs-11">
                            <div class="row">
                                <div class="col-md-2 col-xs-12">
                                    {{ user.full_name }}
                                </div>
                                <div class="col-md-2 col-xs-12">
                                    {{ user.email }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.department.abbreviation }}
                                </div>
                                <div class="col-md-1 col-xs-12">
                                    {{ user.degree }}
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    {{ user.sr_no }}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
