<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>bheemboy</title>

        {% load staticfiles %}
        <!-- Bootstrap -->
        <link href="{% static 'coursereg/css/bootstrap.min.css' %}" rel="stylesheet">

        <style>
            body {
                background-color:#eee;
                padding-top: 40px;
                padding-bottom: 40px;
            }
        </style>
          
        <style type="text/css">
            .foots {
                font-family: fantasy;
                color: black;
                font-size: 25px;
                
            }
        </style>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-4">
                    <form class="form-signin" action="{{ signin_url }}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next_url }}">
                        <div class="form-group">
                            <h3 class="form-signin-heading">Log in to Bheemboy</h3>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>

        </div> <!-- /container -->

        <script src="{% static 'coursereg/js/jquery-1.12.3.min.js' %}"></script>
        <script src="{% static 'coursereg/js/bootstrap.min.js' %}"></script>
    </body>
    
    <body>
         <p style="position: fixed; bottom: 0; width: 100%; text-align: center" class="foots"> Handcrafted in Indian Institute of Science </p>
    </body>
</html>
