{% extends "coursereg/base.html" %}

{% block head %}
{% load staticfiles %}
<link href="{% static 'coursereg/css/signin.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <form class="form-signin" action="{{ signin_url }}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next_url }}">
                <div class="form-group">
                    <h3 class="form-signin-heading">Log in to Coursereg</h3>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
