<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>bheemboy</title>

        {% load staticfiles %}
        <!-- Bootstrap -->
        <link href="{% static 'coursereg/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'coursereg/css/chosen.css' %}" rel="stylesheet">

        <style>
            .top-buffer-1 {
                margin-top: 20px;
            }
            .container {
                margin-bottom: 50px;
            }            
        </style>     
                

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'coursereg:index' %}">Bheemboy</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <p class="navbar-text navbar-left"></p>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'coursereg:index' %}">Home</a></li>
                            <li><a href="{% url 'coursereg:student_faq' %}">FAQ</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    {{ user_email }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'coursereg:student_profile' %}">Profile</a></li>
                                    <li><a href="{% url 'coursereg:signout' %}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>Courses of {{ student_name }}</h1>
                    </div>
                        <p>Adviser: {{ adviser_full_name }}</p>
                         {% if program == 0 %}
                             <p>Program: Other</p>
                         {% elif program == 1 %}
                             <p>Program: M.Tech</p>
                         {% elif program == 2 %}
                             <p>Program: M.Sc</p>
                         {% elif program == 3 %}
                             <p>Program: Ph.D</p>
                         {% elif program == 4 %}
                             <p>Program: M.E.</p>                                                
                         {% endif %}
                        <p>Sr No: {{ sr_no }}</p>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="row top-buffer-1">
                        <div class="col-md-12">
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row top-buffer-1">
                <div class="col-md-12>">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Requested Courses</h3>
                        </div>
                    
                     <div class="panel-body">
			             {% for course, state, grade, course_id, state_str, grade_str, participant_id, flag, no_course in participants %}
                            <div class="row">
                                {% if forloop.counter0 != 0 %}
                                <hr>
                                {% endif %}                                
                                <div class="col-md-4">{{ course }}</div>                            
                                {% if grade == 0 %}
                                    {% if state == 0 or state == 1 or state == 4 or state == 7 or state == 13%}
                                <div class="col-md-2">
                                    <span class="label label-info">{{ state_str }}</span>
                                </div>  
                                    {% elif state == 2 or state == 8 %}
                                 <div class="col-md-2">
                                    <span class="label label-success">{{ state_str}}</span>
                                 </div>       
                                <div class="col-md-1"><b> --------->> </b></div>
                                 <div class="col-md-1">
                                     <form class="form-inline" method="POST" action="{% url 'coursereg:participant_dcc_act' %}">
                                         {% csrf_token %}                                         
                                         <input type="hidden" name="participant_id" value="{{ participant_id }}">         
                                         <input type="hidden" name="student_id" value="{{ student_id }}">
                                         <input type="hidden" name="course_id" value="{{ course_id }}">
                                         <button type="submit" class="btn btn-primary btn-xs">Accept</button>                                                       
                                     </form>
                                 </div>
                                 <div class="col-md-1">
                                     <form class="form-inline" method="POST" action="{% url 'coursereg:participant_dcc_rej' %}">
                                         {% csrf_token %}
                                         <input type="hidden" name="participant_id" value="{{ participant_id }}">
                                         <input type="hidden" name="student_id" value="{{ student_id }}">
                                         <input type="hidden" name="course_id" value="{{ course_id }}">
                                         <button type="submit" class="btn btn-danger btn-circle btn-xs"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i>Reject</button>
                                     </form>
                                 </div>    
                                
                                     
                                    {% elif state == 3 or state == 11 or state == 14 %}
                                 <div class="col-md-2">
                                    <span class="label label-primary">{{ state_str }}</span>
                                 </div> 
                                    {% elif state == 5 or state == 6 or state == 9 or state == 10 or state == 12 or state == 15 %}
                                 <div class="col-md-2">
                                    <span class="label label-danger">{{ state_str }}</span>
                                 </div> 
                                    {% else %}                                    
                                <div class="col-md-2">
				                    <span class="label label-default">{{ state_str }}</span>
                                 </div> 
                                    {% endif %}
                                {% else %}
                                    <span class="label label-primary">{{ grade_str }} grade</span>
                                {% endif %}
                                
                            </div>
                            {% endfor %}                                                  
                        </div>                       
                    </div>
                    {% if flag == 0 and no_course != 0 %}
                        <div class="row top-buffer-1">
                            <h1></h1>
                            <span class="col-md-2" align="center" ><b>Approve all the courses </b></span>
                            <div class="col-md-1"><b> --------->> </b></div>
                             <form class="form-inline" method="POST" action="{% url 'coursereg:participant_dcc_act_all' %}">
                                    {% csrf_token %}       
                                     <input type="hidden" name="student_id" value="{{ student_id }}">             
                                     <button type="submit" class="btn btn-primary btn-xs"><b>Go!!</b></button>        
                             </form>
                         </div>
                    {% endif%}
                </div>
            </div>
        </div> <!-- /container -->

        <script src="{% static 'coursereg/js/jquery-1.12.3.min.js' %}"></script>
        <script src="{% static 'coursereg/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'coursereg/js/chosen.jquery.js' %}"></script>
        
    </body>
</html>

