{% extends "coursereg/base.html" %}

{% block body %}
{% include "coursereg/nav.html" %}

<div class="container" id="maincontainer">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Courses</h1>
            </div>
        </div>
    </div>
    {% if notifications %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <ul>
                {% for date, origin, message in notifications %}
                <li>
                    <strong>
                        {{ date }}: {{ origin }} -
                    </strong>
                    {{ message }}
                </li>
                {% endfor %}
                </ul>
                <div id="dismiss">
                    <form action="{% url 'coursereg:notifications_dismiss' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ user_id }}">
                        <button type="submit" class="btn btn-danger btn-xs">Dismiss</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            <form class="form-inline" method="post" action="{% url 'coursereg:participants_create' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_label_single">
                        Register for a course
                        <select class="form-control" id="course_select_box" name="course_id">
                            <option value="">No courses available</option>
                            {% for course in courses %}
                                <option value="{{ course.id }}" title="Timings: {{course.timings}}">{{ course }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {% for reg_type in reg_types %}
                    <label class="radio-inline">
                        {% if forloop.counter0 == 0 %}
                        <input type="radio" name="reg_type" value="{{ reg_type.id }}" checked>{{ reg_type }}
                        {% else %}
                        <input type="radio" name="reg_type" value="{{ reg_type.id }}">{{ reg_type }}
                        {% endif %}
                    </label>
                    {% endfor %}
                </div>
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="hidden" name="origin" value="student">
                <button type="submit" class="btn btn-primary btn-sm">Join Course</button>
            </form>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="row top-buffer-1">
        <div class="col-md-12">
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row top-buffer-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Registered Courses</h3>
            </div>
            <ul class="list-group">
                {% for participant in participants %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-11 col-xs-10">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    {% if participant.should_count_towards_cgpa %}
                                    <p title="Timings: {{participant.course.timings}}">
                                    {% else %}
                                    <p title="Timings: {{participant.course.timings}}" class="text-muted">
                                    {% endif %}
                                        {{ participant.course }} <span class="badge">{{ participant.get_reg_type_desc }}</span>
                                    </p>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <p class="text-muted">
                                        {{ participant.get_status_desc }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2">
                            <div title="Options" class="pull-right">
                                {% if not participant.course.is_last_drop_date_passed %}
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle hidden-xs" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <button class="btn btn-default dropdown-toggle btn-circle visible-xs-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span class="glyphicon glyphicon-option-vertical"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        {% if not participant.course.is_last_conversion_date_passed %}
                                            <form id="switchForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="origin" value="student">
                                                <input type="hidden" name="action" value="reg_type_change">
                                                <input type="hidden" name="reg_type" value="0">
                                            </form>
                                            {% for reg_type in reg_types %}
                                            {% if reg_type != participant.registration_type %}
                                                <li><a href="#" onclick="$('#switchForm{{ participant.id }} input[name=reg_type]').val('{{ reg_type.id }}'); $('#switchForm{{ participant.id }}').submit()">Switch to {{ reg_type }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if not participant.course.is_last_cancellation_date_passed %}
                                            <form id="deleteForm{{ participant.id }}" action="{% url 'coursereg:participants_delete' participant.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="origin" value="student">
                                            </form>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#" onclick="$('#deleteForm{{ participant.id }}').submit()">Cancel registration</a></li>
                                        {% elif not participant.course.is_last_drop_date_passed %}
                                            <form id="dropForm{{ participant.id }}" action="{% url 'coursereg:participants_update' participant.id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="origin" value="student">
                                                {% if participant.is_drop %}
                                                <input type="hidden" name="action" value="undrop">
                                                {% else %}
                                                <input type="hidden" name="action" value="drop">
                                                {% endif %}
                                            </form>
                                            <li role="separator" class="divider"></li>
                                            <li>
                                                <a href="#" onclick="$('#dropForm{{ participant.id }}').submit()">
                                                {% if participant.is_drop %}
                                                Undo drop
                                                {% else %}
                                                Drop course
                                                {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
{% load staticfiles %}
<link href="{% static 'coursereg/css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'coursereg/css/select2-bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% load staticfiles %}
<script src="{% static 'coursereg/js/select2.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#course_select_box").select2({
            placeholder: "Select a course",
            theme: "bootstrap"
        });
    });
</script>
{% endblock %}
