.top-buffer-1 {
    margin-top: 20px;
}
.top-buffer-2 {
    margin-top: 40px;
}
.top-buffer-4 {
    margin-top: 80px;
}

#maincontainer {
    margin-bottom: 50px;
}

#dismiss {
    margin-top: 10px;
    margin-left: 40px;
}

.inactive {
    color: darkgrey;
}

.btn-circle {
  width: 20px;
  height: 20px;
  line-height: 10px; /* adjust line height to align vertically*/
  padding:0;
  border-radius: 50%;
}

.credit-bg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 36px;
    text-align: center;
    background:  #4caf50;
}

.audit-bg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    line-height: 36px;
    text-align: center;
    background: #ccc;
}

.requestrow {
    margin-left: 20px;
}

.courserow {
    margin-top: 8px;
    margin-left: 36px;
    margin-right: 20px;
}
